.border {
  stroke: #9e9c9c;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.bg {
  fill: #F2F2F2;
}
svg:hover .border {
  fill: #76479c;
  stroke: #76479c;
}
svg:hover .bg {
  fill: #76479c;
  stroke: #76479c;
}

.lid {
  transform-origin: left;
  transform: translateY(30px) rotate(0);
  transition: transform 0.3s ease;
}
svg:hover .lid {
  transform: translateY(-10px) rotate(-10deg);
}